In [1]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in \site-packages (2.0.25)
Requirement already satisfied: pymysql in \site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in \site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in \site-packages (from sqlalchemy) (3.0.1)

In [25]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

In [11]:
#Cpmbining all the csv files into single df:

# List of CSV file paths

csv_files = ['./bus_details_jk2_csv.csv', './bus_details_kerala1_csv.csv', './bus_details_ktcl1_csv.csv',
            './bus_details_pepsu1_csv.csv','./bus_details_rsrtc1_csv.csv','./bus_details_ts1_csv.csv','./bus_details_hrtc1_csv.csv',
            './bus_details_bihar1_csv.csv','./bus_details_astc1_csv.csv','./bus_details_bengal1_csv.csv'] 

# Read the CSV files into DataFrames
dataframes = [pd.read_csv(file) for file in csv_files]

# Combine the DataFrames into one DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

In [13]:
combined_df

,Unnamed: 0,route_name,route_link,bus_name,bus_type,departing_time,duration,arrival_time,star_rating,fare_price,seat_availablity,Unnamed: 0.1
0,0,Jammu (j and k) to Srinagar,https://www.redbus.in/bus-tickets/jammu-to-sri...,New Pal Travels,NON A/C Seater / Sleeper (2+2),21:15,10h 00m,07:15,1.5,719.0,35,NaN
1,1,Jammu (j and k) to Srinagar,https://www.redbus.in/bus-tickets/jammu-to-sri...,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,09h 30m,06:00,1.1,719.0,43,NaN
2,2,Jammu (j and k) to Srinagar,https://www.redbus.in/bus-tickets/jammu-to-sri...,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),16:30,10h 00m,02:30,1.0,699.0,39,NaN
3,3,Jammu (j and k) to Srinagar,https://www.redbus.in/bus-tickets/jammu-to-sri...,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),17:15,10h 00m,03:15,1.0,699.0,40,NaN
4,4,Delhi to Srinagar,https://www.redbus.in/bus-tickets/delhi-to-sri...,DIVA BUS,AC Sleeper (2+1),15:00,17h 00m,08:00,3.4,4999.0,35,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4502,211,Durgapur (West Bengal) to Bankura,https://www.redbus.in/bus-tickets/durgapur-to-...,Dolphin tours and travels,A/C Seater / Sleeper (2+2),17:45,01h 15m,19:00,3.8,806.0,23,211.0
4503,212,Siliguri to Malda,https://www.redbus.in/bus-tickets/siliguri-to-...,Aradhana Travels,A/C Seater / Sleeper (2+1),19:05,05h 45m,00:50,3.4,713.0,32,212.0
4504,213,Siliguri to Malda,https://www.redbus.in/bus-tickets/siliguri-to-...,Aradhana Travels,Volvo A/C B11R Multi Axle Semi Sleeper (2+2),21:30,05h 30m,03:00,3.8,713.0,38,213.0
4505,215,Siliguri to Malda,https://www.redbus.in/bus-tickets/siliguri-to-...,Aradhana Travels,NON A/C Seater / Sleeper (2+2),22:00,08h 00m,06:00,1.3,475.0,33,215.0
4506,216,Kolkata to Suri,https://www.redbus.in/bus-tickets/kolkata-to-suri,SBSTC-KOLKATA - SURI - 18:00 - (Suri Depot) - ...,Non AC Seater (2+3),18:00,05h 00m,23:00,3.4,190.0,51,216.0

In [15]:
combined_df=combined_df.drop('Unnamed: 0',axis=1)

In [19]:
combined_df=combined_df.drop('Unnamed: 0.1',axis=1)

In [21]:
combined_df

,route_name,route_link,bus_name,bus_type,departing_time,duration,arrival_time,star_rating,fare_price,seat_availablity
0,Jammu (j and k) to Srinagar,https://www.redbus.in/bus-tickets/jammu-to-sri...,New Pal Travels,NON A/C Seater / Sleeper (2+2),21:15,10h 00m,07:15,1.5,719.0,35
1,Jammu (j and k) to Srinagar,https://www.redbus.in/bus-tickets/jammu-to-sri...,Harikesh Tour N Travels,NON A/C Seater / Sleeper (2+2),20:30,09h 30m,06:00,1.1,719.0,43
2,Jammu (j and k) to Srinagar,https://www.redbus.in/bus-tickets/jammu-to-sri...,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),16:30,10h 00m,02:30,1.0,699.0,39
3,Jammu (j and k) to Srinagar,https://www.redbus.in/bus-tickets/jammu-to-sri...,North Kashmir Tour and Travels,NON A/C Sleeper (2+2),17:15,10h 00m,03:15,1.0,699.0,40
4,Delhi to Srinagar,https://www.redbus.in/bus-tickets/delhi-to-sri...,DIVA BUS,AC Sleeper (2+1),15:00,17h 00m,08:00,3.4,4999.0,35
...,...,...,...,...,...,...,...,...,...,...
4502,Durgapur (West Bengal) to Bankura,https://www.redbus.in/bus-tickets/durgapur-to-...,Dolphin tours and travels,A/C Seater / Sleeper (2+2),17:45,01h 15m,19:00,3.8,806.0,23
4503,Siliguri to Malda,https://www.redbus.in/bus-tickets/siliguri-to-...,Aradhana Travels,A/C Seater / Sleeper (2+1),19:05,05h 45m,00:50,3.4,713.0,32
4504,Siliguri to Malda,https://www.redbus.in/bus-tickets/siliguri-to-...,Aradhana Travels,Volvo A/C B11R Multi Axle Semi Sleeper (2+2),21:30,05h 30m,03:00,3.8,713.0,38
4505,Siliguri to Malda,https://www.redbus.in/bus-tickets/siliguri-to-...,Aradhana Travels,NON A/C Seater / Sleeper (2+2),22:00,08h 00m,06:00,1.3,475.0,33
4506,Kolkata to Suri,https://www.redbus.in/bus-tickets/kolkata-to-suri,SBSTC-KOLKATA - SURI - 18:00 - (Suri Depot) - ...,Non AC Seater (2+3),18:00,05h 00m,23:00,3.4,190.0,51

In [27]:
myconnection=pymysql.connect(host='host',user='user',passwd='********',database='redbusdb')

In [37]:
#Create a table 'redbus_details' :
create_table_sql = """
CREATE TABLE redbus_details (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    route_name TEXT,
    route_link TEXT,
    bus_name TEXT,
    bus_type TEXT,
    departing_time TIME,
    duration TEXT,
    arrival_time TIME,
    star_rating FLOAT,
    fare_price DECIMAL(7,2),
    seat_availablity INT
);
"""

print(create_table_sql)
myconnection.cursor().execute(create_table_sql)
myconnection.commit()

CREATE TABLE redbus_details (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    route_name TEXT,
    route_link TEXT,
    bus_name TEXT,
    bus_type TEXT,
    departing_time TIME,
    duration TEXT,
    arrival_time TIME,
    star_rating FLOAT,
    fare_price DECIMAL(7,2),
    seat_availablity INT
);

In [39]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection string :
database_url = 'mysql+pymysql://root:Saipriya1512$@127.0.0.1:3306/redbusdb'

# Create a SQLAlchemy engine
engine = create_engine(database_url)

# Table name where data will be inserted
table_name = 'redbus_details'


# Insert the combined DataFrame into the SQL table
combined_df.to_sql(table_name, engine, if_exists='append', index=False)

print(f"Data from {len(csv_files)} CSV files inserted into table '{table_name}'.")

Data from 10 CSV files inserted into table 'redbus_details'.